{% extends 'theme/base.html'%}
{% block content%}

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="javascript:;"><i class="fa fa-info"></i> Step 1 - Module Information</a></li>
        <li role="presentation"><a href="javascript:;"><i class="fa fa-plus-square-o"></i> Step 2 - Form
            Display</a></li>
    </ul>

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Module Information</h3>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <div class="box-body">
                <div class="col-sm-7 no-padding">

                    <div class="form-group">
                        <label for="">Table</label>
                        <select name="table" class="form-control select2" id="list_table" style="width: 100%">
                            <option value="">** Silahkan Pilih Table</option>
                            <option value="cms_users">cms_users</option>
                            {% for tb in table %}
                                <option value="{{ tb }}">{{ tb }}</option>
                            {% endfor %}
                        </select>
                        <div class="help-block">
                            Do not use cms_* as prefix on your tables name
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Module Name</label>
                        <input type="text" class="form-control" required="" name="name" value="">
                    </div>

                    <div class="form-group">
                        <label for="">Icon</label>
                        <select name="icon" class="form-control select2" id="" style="width: 100%">
                            {% for ic in list_icon %}
                                <option value="fa fa-{{ ic }}">{{ ic }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Module Slug</label>
                        <input type="text" class="form-control" required="" name="path" value="">
                        <div class="help-block">Please alpha numeric only, without space instead _ and or special character</div>
                    </div>

                </div>
            </div>
            <div class="box-footer">
                <input checked="" type="checkbox" name="create_menu" value="1">
                    Also create menu for this module
                <a href="#" title="If you check this, we will create the menu for this module">(?)</a>
                <div class="pull-right">

                    <a class="btn btn-default" href="javascript:;"> Kembali</a>
                    <input type="submit" class="btn btn-primary" value="Step 2 »">
                </div>
            </div>
        </form>

    </div>

{% endblock %}
{% block  bottom%}
    <script>
        $('select[name=table]').change(function () {
            var v = $(this).val().replace(".", "_");
            $('input[name=path]').val(v);
        })
    </script>
{% endblock %}