{% extends 'theme/base.html' %}
{% load GOCrud %}
{% block content %}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="javascript:;"><i class="fa fa-info"></i> Step 1 - Module Information</a></li>
        <li role="presentation" class="active"><a href="javascript:;"><i class="fa fa-plus-square-o"></i> Step 2 - Form
            Display</a></li>
    </ul>

    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Form Display</h3>
        </div>
        <form method="post" action="">
            {% csrf_token %}

            <div class="box-body">
                <div class="alert alert-info">
                    <strong>Info </strong>. You can edit your models and form in models directory.
                </div>
                <div class="col-sm-12 no-padding">
                    <table class="table-display table table-striped">
                        <h4>
                            <b>Models</b>
                        </h4>
                        <thead>
                        <tr>
                            <th>Label</th>
                            <th>Column</th>
                            <th>Type</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for col in columns %}
                            <tr>
                                <td>
                                    <input value="{% ucWord col.COLUMN_NAME  %}" type="text"
                                           name="label[]" placeholder="Column Name"
                                           class="column form-control notfocus">
                                </td>
                                <td>
                                    <input readonly value="{{ col.COLUMN_NAME }}" type="text" name="column[]"
                                           placeholder="Column Name"
                                           class="column form-control notfocus">
                                </td>
                                <td>
                                    <input readonly value="{{ col.DATA_TYPE }}" type="text" name=""
                                           placeholder="Field Type"
                                           class="name form-control notfocus">
                                </td>
                                <td>
                                    <a href="javascript:void(0)" class="btn btn-danger btn-delete"><i
                                            class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="box-footer">
                <div class="pull-right">

                    <a class="btn btn-default" href="javascript:;"> Kembali</a>
                    <input type="submit" class="btn btn-primary" value="Step 3 »">
                </div>
            </div>
        </form>

    </div>

{% endblock %}
{% block  bottom %}
    <script>
        $('select[name=table]').change(function () {
            var v = $(this).val().replace(".", "_");
            $('input[name=path]').val(v);
        })
        $(document).on('click', '.table-display .btn-delete', function () {
            $(this).parent().parent().remove();
        })


    </script>
{% endblock %}