{% extends 'theme/base.html'%}
{% block content%}
{% load GOCrud %}
{#{% ListIcon %}#}
    <table>
    <tr>
        {% for row in data %}
            <th>{{ row }}</th>
        {% endfor %}

    </tr>
    </table>
{% endblock %}