
<!DOCTYPE html>
<html>
<head>
    <title>{{ page_titel }} | Django</title>
    {% load static %}
    {% include "theme/head.html" %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {% include "theme/header.html" %}
  <!-- Left side column. contains the logo and sidebar -->
    {% include "theme/sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <i class="fa {{ icon_page }}"></i> {{ page_titel }}
          <span style="margin-left: 20px;">
              {% if action.btn_add %}
                  <a href="{{ base_path }}/add?return_url={{ request.get_full_path }}" class="btn-sm btn btn-success">
                    <i class="fa fa fa-plus"></i>
                    Tambah Data
                  </a>
              {% endif %}
              {% if action.btn_import %}
                  <a href="{{ base_path }}/import" class="btn-sm btn btn-primary">
                    <i class="fa fa fa-download"></i>
                    Import Data
                  </a>
              {% endif %}
              {% if action.btn_export %}
                  <a href="{{ base_path }}/add" class="btn-sm btn btn-primary">
                    <i class="fa fa-upload"></i>
                    Export Data
                  </a>
              {% endif %}
          </span>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Halaman Awal</a></li>
        <li class="active">
            {{ page_titel }}
        </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
        {% if messages %}
             {% for message in messages %}
                 <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>
                     {% if message.tags == 'success' %}
                        <i class="icon fa fa-check"></i>
                     {% else %}
                        <i class="icon fa fa-warning"></i>
                     {% endif %}
                    {{ message.tags|title }} !
                    </h4>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      {% block content %}

      {% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 {% include "theme/footer.html" %}

  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script>
    var BASE_PATH = '{{ base_path }}'
</script>
{% include "theme/script.html" %}
{% block bottom %}
{% endblock %}
</body>
</html>
