{% load GOCrud %}
{% if data.has_other_pages %}
  <div class="row">
    <div class="col-sm-5">
        Total rows : {{ data.start_index }} to {{ data.end_index }} of {{ data.paginator.count }}
    </div>
    <div class="col-sm-7 text-right">
        <ul class="pagination">
            {% if data.has_previous %}
                {% if request.GET.q or request.GET.limit %}
                    <li><a href="?{% url_replace request 'page' data.previous_page_number %}">«</a></li>
                {% else %}
                     <li><a href="?page={{ data.previous_page_number }}">«</a></li>
                {% endif %}
            {% else %}
              <li class="disabled"><span>«</span></li>
            {% endif %}
            {% for i in data.paginator.page_range %}
              {% if data.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                  {% if request.GET.q or request.GET.limit %}
                         <li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                  {% else %}
                         <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
              {% endif %}
            {% endfor %}
            {% if data.has_next %}
                {% if request.GET.q or request.GET.limit %}
                     <li><a href="?{% url_replace request 'page' data.next_page_number %}">»</a></li>
                {% else %}
                     <li><a href="?page={{ data.next_page_number }}">»</a></li>
                {% endif %}
            {% else %}
              <li class="disabled"><span>»</span></li>
            {% endif %}
        </ul>
    </div>
  </div>
{% endif %}