{% load static %}
{% load GOCrud %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{% static 'img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU UTAMA</li>

            <li>
                <a href="{% url 'home' %}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            {% listMenu as menus %}
            {% for menu in menus %}
                <li>
                    <a href="{% url menu.path %}">
                        <i class="fa {{ menu.icon }}"></i> <span>{{ menu.name }}</span>
                    </a>
                </li>
            {% endfor %}

{#            <li class="treeview">#}
{#                <a href="#">#}
{#                    <i class="fa fa-users"></i> <span>Users</span>#}
{#                    <span class="pull-right-container">#}
{#                  <i class="fa fa-angle-left pull-right"></i>#}
{#                </span>#}
{#                </a>#}
{#                <ul class="treeview-menu">#}
{#                    <li><a href="{% url 'role' %}"><i class="fa fa-circle-o"></i> Role</a></li>#}
{#                    <li><a href="{% url 'users' %}"><i class="fa fa-circle-o"></i> Users</a></li>#}
{#                </ul>#}
{#            </li>#}

            <li class="header">SUPER ADMIN</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i> <span>Pembangun Modul</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'add-module-1' %}"><i class="fa fa-circle-o"></i> Tambah Modul</a></li>
                    <li><a href="{% url 'home' %}"><i class="fa fa-circle-o"></i> Daftar Modul</a></li>
                </ul>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>