{% load GOCrud %}
{% if action.selected == True %}
    <div class="pull-left">
        <div class="selected-action" style="display:inline-block;position:relative;">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-check-square-o"></i> Aksi Massal
            <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0)" onclick="deleteSelected()" data-name="delete" title="Hapus terpilih">
                    <i class="fa fa-trash"></i> Hapus terpilih
                </a>
            </li>
        </ul><!--end-dropdown-menu-->
    </div><!--end-selected-action-->
    </div>
{% endif %}
{% if action.selected != True %}
    <span>&nbsp;</span>
{% endif %}


<div class="box-tools pull-right" style="position: relative;margin-top: -5px;margin-right: -10px">



    <form method="get" class="form-search" style="display:inline-block;width: 260px;" action="{{ request.get_full_path }}">
        <input type='hidden' name='page' value='{{ request.GET.page }}'/>
        {% if request.GET.limit %}
            <input type='hidden' name='limit' value='{{ request.GET.limit }}'/>
        {% endif %}
        <div class="input-group">
            <input type="text" name="q" value="{{ request.GET.q }}" class="form-control input-sm pull-right" placeholder="Cari">
            <div class="input-group-btn">
                {% if request.GET.q %}
                <a href="?{% url_replace request 'q' '' %}" title="Ulangi" class="btn btn-sm btn-warning">
                    <i class="fa fa-ban"></i>
                </a>
                {% endif %}
                <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
    <form method="get" class="form-search" id="form-limit-paging" style="display:inline-block" action="">
        {% if request.GET.q %}
        <input type='hidden' name='q' value='{{ request.GET.q }}'/>
        {% endif %}
        <input type='hidden' name='page' value='{{ request.GET.page }}'/>
        <div class="input-group">
            <select onchange="$('#form-limit-paging').submit()" name="limit" style="width: 56px;border-radius: 4px" class="form-control input-sm">
                <option {% if request.GET.limit == '10' %} selected {% endif %} value="10">10</option>
                <option {% if request.GET.limit == '20' %} selected {% endif %} value="20">20</option>
                <option {% if request.GET.limit == '25' %} selected {% endif %} value="25">25</option>
                <option {% if request.GET.limit == '50' %} selected {% endif %} value="50">50</option>
                <option {% if request.GET.limit == '100' %} selected {% endif %} value="100">100</option>
                <option {% if request.GET.limit == '200' %} selected {% endif %} value="200">200</option>
            </select>
        </div>
    </form>
</div>