{% extends 'theme/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <p>
                <a title="Return" href="{{ request.GET.return_url }}">
                    <i class="fa fa-chevron-circle-left "></i>
                    &nbsp; Kembali ke halaman awal
                </a>
            </p>
            <div class="box">
                <div class="box-header" style="background-color: #F6F6F6">
                    <strong><i class="fa {{ icon_page }}"></i> {{ page_titel }}</strong>
                </div>

                <form method="post" novalidate action="{{ request.get_full_path }}" enctype="multipart/form-data" >
                    <input type="hidden" name="return_url" value="{{ request.GET.return_url }}" id="">
                    <input type="hidden" name="my_url" value="{{ request.get_full_path }}" id="">
                    {% csrf_token %}
                    <div class="box-body table-responsive" style="padding: 30px 0">
                        <div class="col-sm-12">
                            {% for field in form.visible_fields %}
                                <div class="form-group {% if field.errors %}has-error{% endif %}">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 text-right label-text" style="padding: 10px 5px;">
                                            {{ field.label_tag }}
                                        </div>
                                        <div class="col-sm-8 padding-form">
                                            {{ field }}
                                            {% if field.errors %}
                                                <i class="fa fa-times-circle-o ic-error"></i>
                                                {{ field.errors }}
                                            {% endif %}
                                            {{ field.help_text }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10" style="padding-left: 18px">
                                {% if detail != True %}
                                    <a href="{{ request.GET.return_url }}" class="btn btn-default btn-back-form">
                                        <i class="fa fa-chevron-circle-left"></i>
                                        Kembali
                                    </a>
                                    {% if edit != True %}
                                    <input type="submit" name="submit" value="Simpan & Tambah Lagi" class="btn btn-success btn-save-more">
                                    {% endif %}
                                    <input type="submit" name="submit" value="Simpan" class="btn-save-form btn btn-success">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom %}
    {% if detail == True %}
            <script>
                $(function () {
                    $('.form-control').attr('readonly',true)
                    $('.form-group .form-control').addClass('detail-view')
                    $('.form-group .col-sm-12').addClass('border-top')
                    $('.form-group .label-text').addClass('text-left-important')
                })
            </script>
    {% else %}
            <script>
                $(function () {
                    $('.form-control').attr('readonly',false)
                    $('.form-group .form-control').removeClass('detail-view')
                    $('.form-group .col-sm-12').removeClass('border-top')
                    $('.form-group .label-text').removeClass('text-left-important')
                })
            </script>
    {% endif %}
{% endblock %}