.box-header{
    border-bottom: 1px solid #ddd;
}
.box-footer{
    background-color: #F6F6F6;
}
.padding-form{
    padding: 5px;
}
.errorlist{
    padding: 0;
    list-style: none;
    color: red;
}
.form-control{
    border-radius: 50px;
}
.select2-selection{
    border-radius: 50px !important;
}
.table-default tr th{
    background-color: #F6F6F6;
    font-size: 13px;
}
.table-default tr td{
    font-size: 12px;
}
.pagination{
    margin: 0 0 15px;
}
.ic-error{
    color: red;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.detail-view{
    cursor: default;
    border: none;
    background-color: #fff !important;
}
.border-top{
    border-top: 1px solid #F0F0F0;
}
.text-left-important{
    text-align: left !important;
}
.img-table{
    width: 70px;
    height: 40px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #d2d6de;
}
.has-error .select2-selection{
    border-color: red !important;
}