{% extends 'theme/base.html' %}
{% block content %}
<div class="row">
   <div class="col-xs-12">
       <div class="box">
           <div class="box-header">
               {% include "theme/table_header.html" %}
           </div>
           <div class="box-body table-responsive no-padding">
               <form action="{{ request.path }}/action-selected" method="POST" id="form-table">
                   {% csrf_token %}
                   <input type="hidden" name="return_url" value="{{ request.get_full_path }}">
                   <table class="table table-hover table-bordered table-default">
                       <tr>
                           {% if action.selected == True %}
                               <th style="width: 30px" id="">
                                   <input type="checkbox" name="" id="checkall">
                               </th>
                           {% endif %}
                           <th>Kategori</th>
                           <th class="text-right">Aksi</th>
                       </tr>
                       {% if data == None %}
                           <tr><td colspan="4" class="text-center">This No Data Found In Table !</td></tr>
                       {% else %}
                           {% for row in data %}
                               <tr>
                                   {% if action.selected == True %}
                                       <td>
                                           <input class="checkbox" type="checkbox" name="id_selected[]" value="{{ row.id }}" id="">
                                       </td>
                                   {% endif %}
                                   <td>{{ row.nama_kategori }}</td>
                                   <td class="text-right">
                                       {% if action.detail == True %}
                                           <a href="{{ base_path }}/detail/{{ row.id }}?return_url={{ request.get_full_path }}" class="btn btn-xs btn-detail btn-primary"><i class="fa fa-eye"></i></a>
                                       {% endif %}
                                       {% if action.edit == True %}
                                           <a href="{{ base_path }}/edit/{{ row.id }}?return_url={{ request.get_full_path }}" class="btn btn-xs btn-edit btn-success"><i class="fa fa-pencil"></i></a>
                                       {% endif %}
                                       {% if action.delete == True %}
                                           <a href="javascript:;" data-path="{{ base_path }}"  data-id="{{ row.id }}" data-url="{{ request.get_full_path }}" class="btn btn-xs btn-hapus btn-warning btn-delete-table"><i class="fa fa-trash"></i></a>
                                       {% endif %}
                                   </td>
                               </tr>
                           {% endfor %}
                       {% endif %}
                   </table>
                   <div class="col-sm-12">
                       {% include "theme/pagination.html" %}
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>
{% endblock %}
